
body {
  overflow-y: scroll;
}

.clipboard,
.fa-external-link {
  cursor: pointer;
}

#menu-3 div.toggle-content {
  height: 400px;
  margin-bottom: 20px;
}

span.banano-address {
  font-weight: bold;
  word-wrap: break-word;
}

span.address-highlight {
  color: #d8aa46;
}

@media (max-width: 767px) {
  .mobile-show {
    display: block !important;
  }

  .mobile-hide {
    display: none !important;
  }
}
