
body {
  overflow-y: scroll;
}

.message {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
  height: 40px;
  background: #d8aa46;
  text-align: center;
  font-weight: bold;
  color: #000;
  z-index: 999;
}

#error-alert {
  position: fixed;
  bottom: 0px;
  right: 20px;
  opacity: 0;
}

.align-middle {
  vertical-align: middle !important;
}

.clipboard,
.fa-external-link {
  cursor: pointer;
}

#menu-3 div.toggle-content {
  margin-bottom: 20px;
}

span.banano-address {
  font-weight: bold;
  word-wrap: break-word;
}

span.address-highlight {
  color: #d8aa46;
}

@media (min-width: 767px) {
  #menu-3 div.toggle-content {
    min-height: 420px;
  }
}

@media (min-width: 767px) {
  .mobile-show {
    display: none !important;
  }

  :not(td).mobile-hide,
  :not(th).mobile-hide {
    display: block !important;
  }

  td.mobile-hide,
  th.mobile-hide {
    display: table-cell !important;
  }
}

@media (max-width: 767px) {
  :not(td).mobile-show,
  :not(th).mobile-show {
    display: block !important;
  }

  td.mobile-show,
  th.mobile-show {
    display: table-cell !important;
  }

  .mobile-hide {
    display: none !important;
  }

  .message {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
  {
    padding: 8px 4px;
  }

  .toggle-content {
    padding: 30px 20px;
  }

  .g-item span {
    font-size: 42px;
  }
}

