
body {
  overflow-y: scroll;
}

#error-alert {
  position: fixed;
  bottom: 0px;
  right: 20px;
  opacity: 0;
}

.align-middle {
  vertical-align: middle !important;
}

.clipboard,
.fa-external-link {
  cursor: pointer;
}

#menu-3 div.toggle-content {
  margin-bottom: 20px;
}

span.banano-address {
  font-weight: bold;
  word-wrap: break-word;
}

span.address-highlight {
  color: #d8aa46;
}

@media (min-width: 767px) {
  #menu-3 div.toggle-content {
    min-height: 420px;
  }
}

@media (min-width: 767px) {
  .mobile-show {
    display: none !important;
  }

  .mobile-hide {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .mobile-show {
    display: block !important;
  }

  .mobile-hide {
    display: none !important;
  }

  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
  {
    padding: 8px 4px;
  }

  .toggle-content {
    padding: 30px 20px;
  }
}

